.App {
  text-align: center;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* max-height: 100vh; */


  margin-top: 0;

  position: relative;

  /* overflow: hidden; */

}

.appWindow {
  width: 98%;
  max-width: 1200px;

  margin: 0 auto 7vh auto;


  display: flex;
  flex-flow: column nowrap;
  align-items: center;

}



.App-header {
  width: 94%;
  border-radius: 10px;
  /* background-color: #ffc145 ; */
  background-color: #5e4a2c;
  height: 15vh;
  padding-bottom: 2em;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  box-shadow: 1px 1px 10px #000000;
  z-index: 6;


}

.App-header p {
  font-size: 1.5em;
  /* margin: 2em; */
}

button {
  position: relative;
}

.titleNote {
  margin-top: 2em;
  /* margin-left: 2em; */
  /* margin-right: 2em; */

  /* border-bottom: 2px dotted rgba(0,0,0,0.5); */
  width: 130px;

  min-height: 100px;

  /* border-radius: 0 0 0 44px; */

  background-color: #FCFDAF;
  /* #ff9ec6; */

  /* background: linear-gradient(#FCFDAF, #ffff75); */

  position: relative;

  box-shadow: 5px 3px 10px #000000;


}

.titleTop {
  text-align: left;
}

.titleTop p {
  margin-left: 1.3em;
}

.navColumn {
  width: 80%;
  height: 100%;
  margin-top: 2.2em;
  margin-bottom: 0.5em;
  /* background-color: yellow; */

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  /* align-content: space-between; */

  /* background-color: #FCFDAF; */

  background-color: #74aa8b;
  
  
  /* border-radius: 20px 200px 10px 10px ; */
  border-radius: 60px 60px 40px 40px;

  z-index: 4;

}


button {
  border: 2px solid black;
  border-radius: 999px;
  background-color: #76e5cb;
  font-size: 1.2em;

  margin: 0.5em;
  padding: 0.5em;
  min-width: 200px;


  /* transition: 0.1s; */
}

button:hover {
  background-color: #00ffcc;
  /* transition: 0.1s; */

  cursor: pointer;
}





/*  the three rows of the flex column "navColumn"; the right column of the app header */
.userInfo {
  /* color: white; */
  height: 35%;
  width: 95.5%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-end;

  padding-right: 2em;

  
  border-radius: 200px 50px 10px 10px;
  background-color: #bbfff0;
  /* background-color: red; */


}

.userInfo p{
  margin: 1em 0 0.2em 0;
  margin-top: 1em;
}

.userInfo p:first-of-type {
  margin-left: 1em;
  font-size: 1.1em;
}

.userInfo p:not(:first-of-type) {
  font-size: 1.1em;
}

.mainHeader {
  display: flex;
  flex-flow: row nowrap;
}

.hotBar {
  width: 100%;
  height: 60%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  /* justify-content: space-between; */
  /* background-color: purple; */
}

.hotBar .buttonWrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;



}

/* .expandPlusSignBar {
  position: absolute;
  width: 17px;
  height: 6px;
  background-color: black;
  margin-left: 1.1em;
  z-index: 800;
  pointer-events: none;


}

.expandPlusSignBar .child {
  position: absolute;
  left: -17px;
  top: 0;
  height: 15px;
  width: 6px;
  background-color: black;
  margin-left: 1.1em;
  z-index: 800;
  pointer-events: none;



} */

.rightColumnButtons {
  width: 70%;
  /* background-color: #00ffcc; */
}

.rightColumnButtons button {
  min-width: 40%;
}

.mainHeader {
  width: 100%;
}

.hotBar .queryOpen {
  position: relative;
  border-radius: 10px;
  padding-left: 1.2em;
}

.queryBox {
  position: relative;
  height: 100%;
  background-color: #00795a;

  width: 100%;
  /* z-index: 999; */
  border-radius: 5px;
}



.queryBox {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.queryBox .topRow, .queryBox .middleRow, .queryBox .bottomRow {
  width: 100%;
  height: 33%;
  /* background-color: red; */

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;


}

.queryBox .middleRow, .queryBox .bottomRow {
  justify-content: center;
}



select, input {
  position: relative;
  margin: 0.4em;
  font-size: 1.1em;
  height: 80%;
  padding: 0 0.2em 0 0.2em;
  max-width: 25%;
  border-radius: 5px;
  border-width: 2px;
  z-index: 1000;
}

.queryRow {
  position: relative;
  width: 96%;
  background-color: #cc7d22;
  border-radius: 15px;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;

  padding: 0 0.5em 0 0.5em;

}

.chained {
margin-top: 1em;
}

.queryRow label {
  position: absolute;
  left: 2px;
  width: 10em;
  height: 90%;
  text-align: left;
  background-color: #76e5cb;
  border-radius: 10px;
  padding: 0 0.2em 0 3em;
  z-index: 1000;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-bottom:  0.2em;
  transition-property: none;
  transition-property: transform;
  transition: 0.3s;

  border: 2px solid black;
}

.queryRow label:hover {
  background-color: #00ffcc;


  cursor: pointer;

}

input, select {
  border: solid black 2px;
}

.toggleCondition {
  margin: 0;
  width: 25px;
  height: 25px;
  position: relative;
  /* bottom: 2px; */
  /* left: 3px;
  top: 4px; */
  appearance: none;
  background-color: white;
  border: solid black 2px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.toggleCondition:checked {
/* background-color: rgb(246, 255, 118); */
background-color: #00ffcc;
}

.toggleCondition:before, .toggleCondition:after {

  content: '';
  position: absolute;
  width: 3px;
  height: 90%;
  background-color: black;
  border-radius: 2px;


  transition: 0.1s;
 

}


.toggleCondition:after {
  transform: scale(0.01) rotate(45deg);
}

.toggleCondition:before {
  transform: scale(0.01) rotate(-45deg);
}

.toggleCondition:checked:before, .toggleCondition:checked:after {

  content: '';
  position: absolute;
  width: 3px;
  height: 90%;
  background-color: black;

  transition: 0.2s;
 

}

.toggleCondition:checked:after {
  transform: rotate(45deg);
}

.toggleCondition:checked:before {
  transform: rotate(-45deg);
}


select, input {
  font-family: 'Outfit', sans-serif;
}

.queryBox .topRow p {
  color: white;
  font-size: 1.3em;

  width: 33%;
}


.queryBox .middleRow p {
  color: white;
  font-size: 1.3em;

  width: 28%;
}

.infoBar {
  font-size: 1.2em;
  height: 120px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 0em;
  padding: 0 0.1em 0 0.1em;

  width: 100%;

  /* background-color: rgb(88, 226, 173); */
  border-radius: 10px 10px 200px 50px;
  /* border: solid 2px black; */
  /* border-width: 0 0 2px 0;  */

  color: rgb(36, 36, 36);

  /* background-color: rgb(74, 84, 94); */
  background-color: #00965c;


}

.infoBar p {
  margin: 0;
  font-size: 0.8em;
  padding: 0.5em;
}

.infoI {
  /* font-family: sans-serif; */
  margin-top: 0.5px;
  /* margin-left: 0.4em;
  margin-right: 0.3em; */
  /* margin: 0 0.2em 0 0.4em; */
  /* margin-top: 0.2em; */
  /* margin-right: 0.2em; */
  /* font-size: 1.5em; */
  /* width: 1px; */
  height: 19px;
  width: 19px;
  text-align: center;
  background-color: rgba(46, 114, 85, 0.527);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  border-radius: 100%;

  border: 2px solid black;

}


.noteToolTip {

  /* width: 80%; */
  /* height: 100%; */
  text-align: left;
  /* padding: 0.2em 0 0.1em 0; */
  margin-left: 0.3em;
  font-size: 0.9em !important;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 100%; 

  opacity: 0;
  /* transition: 0.3s; */

}

  .infoI, .infoI::after {

    margin-left: 0.2em;
    margin-top: 2px;
    opacity: 0;
    /* transition: 0.3s; */
  }

      
  /* margin-top: 2em;

      text-align: left;

      

      width: 100%; */
      /* padding: 1em 0 1.3em 0; */
      /* height: 2em; */

      /* position: absolute; */
      /* bottom: 25px; */
      /* color: rgba(0, 0, 0, 0.8);
      z-index: 10; */
  
      @media screen and (max-width: 460px) {

        .appWindow {

          margin-top: 1vh;


        }

                



        .App-header p {
          font-size: 1em;
          /* margin: 2em; */
        }

        button {
          position: relative;
        }

        .titleNote {
          margin: 0.5em;
          /* margin-left: 2em; */
          /* margin-right: 2em; */

          /* border-bottom: 2px dotted rgba(0,0,0,0.5); */
          width: 100px;

          min-height: 100px;

          /* border-radius: 0 0 0 44px; */

          background-color: rgb(129, 194, 255);
          /* #ff9ec6; */

          /* background: linear-gradient(#FCFDAF, #ffff75); */

          position: relative;

          box-shadow: 5px 3px 10px #000000;


        }

    

        .navColumn {
          width: 80%;
          height: 100%;
          margin-top: 1em;
          margin-right: 0.3em;

          display: flex;
          flex-flow: column nowrap;
          justify-content: flex-start;
          align-items: center;

          /* align-content: space-between; */

          /* background-color: #FCFDAF; */

          background-color: #005543;
          
          border-radius: 10px;

          z-index: 4;

        }


        .App button {
          border: 2px solid black;
          border-radius: 999px;
          background-color: rgb(88, 226, 173);
          font-size: 0.9em;

          margin: 0.5em;
          padding: 0.5em;
          min-width: 100px;

        }

        /*  the three rows of the flex column "navColumn"; the right column of the app header */
        .userInfo {
          color: white;
          height: 25%;


        }

        .hotBar {
          height: 55%;
          display: flex;
          flex-flow: row nowrap;
          align-items: flex-end;
        }

        .hotBar * {
          height: 70%;
        }
        .infoBar {
          font-size: 1.0em;
          height: 120px;
          display: flex;
        }

        

        

      }
  

