body {
  margin: 0;
  box-sizing: border-box;
  background-color: #2f4d38;
  font-family: 'Outfit', 'Helvetica', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body button {

  font-family: 'Outfit', sans-serif;

  /* width: 100%; */
  
}

button:active {
  background-color: #75ecbb !important;

}

