.note {
    background-color: #FCFDAF;
    width: 14em;
    height: 14em;
    margin: 1em;
    box-shadow: 5px 3px 10px #000000;
    position: relative;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
}

.note textarea {
    width: 90%;
    font-family: inherit;
    height: 60%;
    font-size: 1.2em;
    margin-bottom: 1em;
    resize: none;
    /* appearance tags do not seem to work. */
    /* appearance: none !important; */
    /* -webkit-appearance: none !important; */

    background-color: transparent;
    border: none;
    border-top: dotted 2px rgba(0,0,0,0.3);

    padding: 0.5em;
}

.note textarea:focus {
    outline: none;
    border: dotted 2px rgba(0,0,0,0.8);
    /* background-color: #F8D862; */
}

.infoButton {
position: absolute;
top: 0;
left: 0;
width: 33px;
height: 33px;
/* background-color: purple; */

opacity: 0.8;
}

.infoButton > * {

    border: 2px solid black;
    border-radius: 999px;
    background-color: rgb(88, 226, 173);

    min-width: 100%;
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    font-size: 0.8em;
}
  
.infoButton > *:hover {
    background-color: #00ffcc;

}

.noteHotBar {
    position: absolute;
    right: 0;
    top: 0;


    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.noteHotBar > * {
    background-color: rgb(88, 226, 173);
    font-size: 0.8em;
    min-width: 5em;

    opacity: 0.8;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}