.noteContainer {

    background-color: #56817b;
    width: 94%;
    min-height: 60vh;

    border-radius: 10px;

    margin-top: -15px;
    padding-top: 20px;
    display: flex;
    flex-flow: row wrap;

}

.noneMessage {
    position: relative;
    color: white;
    width: 85%;
    height: 55vh;
    font-size: 1.2em;

    margin: 1em auto 0 auto;

    background-color: #5c2550;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; 
    border-radius: 50px;

    /* padding-bottom: 5em; */

    transition: 0.7s;
    transition-timing-function: ease-in;
    opacity: 0;
}

.noneMessage p {

    margin: 1em 0.5em 2em 0.5em;
}


.notesImg {
    width: 80%;
    max-width: 500px;
    background-color: rgb(255, 247, 224);
    border-radius: 50px;
    /* box-shadow: 0 0 10px 3px black; */
    border: 2px solid black;

    transition: 2s;
    transition-timing-function: linear;
    opacity: 0;
}


