.noteContainer {

    /* background-color: #df8155; */
    background-color: #c99e5e;
    width: 94%;
    min-height: 60vh;

    border-radius: 10px;

    margin-top: -15px;
    padding-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;

}

.noneMessage {
    position: relative;
    color: black;
    width: 85%;
    height: 55vh;
    font-size: 1.2em;

    margin: 1em auto 0 auto;

    background-color: #ffdc5c;
    /* #5c2550; */

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; 
    border-radius: 50px;

    /* padding-bottom: 5em; */

    /* transition: 0.7s; */
    /* transition-timing-function: ease-in; */
    opacity: 0;
}

.noneMessage p {

    margin: 0.5em 0.5em 1em 0.5em;
}


.notesImg {
    width: 80%;
    max-width: 500px;
    background-color: rgb(255, 247, 224);
    border-radius: 50px;
    /* box-shadow: 0 0 10px 3px black; */
    border: 2px solid black;

    /* transform: translateY(-6px); */

    /* transition: 1s; */
    /* transition-timing-function: ease-in; */
    opacity: 0;
}

 /* .notesImg:hover {
    transform: scale(1.03);
    transition: 0.4s;
} */

.notesImg:not(:hover) {
    /* transition: 0.2s; */
}


@media screen and (max-width: 470px) {
    
.noteContainer {
    min-height: 90vh;
}


}

