.note {
    background-color: #FCFDAF;
    width: 14em;
    height: 14em;
    margin: 1em;
    box-shadow: 5px 3px 10px #000000;
    position: relative;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;

    z-index: 600;


    /* transition: 0.5s; */
}

.note textarea {
    position: relative;
    width: 90%;
    font-family: inherit;
    height: 60%;
    font-size: 1.2em;
    margin-bottom: 1em;
    resize: none;
    background-color: transparent;
    border: dotted 2px rgba(0,0,0,0.3);
    border-color: transparent;
    border-top: rgba(0,0,0,0.3);
    padding: 0.5em;
}

.note textarea:focus {
    outline: none;
    border: dotted 2px rgba(0,0,0,0.8);
}

.note textarea:not(:focus):hover {
    cursor: pointer;
    background-color: rgb(255, 234, 164) !important;
}

.note textarea:focus:active {
cursor: pointer;
background-color: rgb(255, 234, 164) !important;
}

/* .infoButton {
position: absolute;
top: 0px;
left: 0px;
width: 34px;
height: 34px; */
/* background-color: purple; */
/* 
opacity: 0.8;
} */

/* .infoButton > * {

    position: absolute;
    border: 2px solid black;
    border-radius: 999px;
    background-color: rgb(88, 226, 173);

    min-width: 100%;
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    font-size: 0.8em;
}
  
.infoButton > *:hover {
    background-color: #00ffcc;

} */


.note .edit {
    /* position: relative;
    top: 10px; */
    /* transition: 250ms;
    transition-timing-function: ease; */
}

.noteHotBar {
    position: absolute;
    top: 0;
    
    /* padding: 0 0.2em 0 0.2em; */

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between !important;
    align-items: center;

    height: 22%;
    width: 96%;
    /* background-color: yellow; */
}

.noteHotBar button {

    margin: 0;
    padding: 0.5em 0 0.5em 0;

    background-color: rgb(88, 226, 173);
    font-size: 0.8em;

    opacity: 0.8;

    min-width: 30%;



    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;



}

/* .note {
    animation: noteSettle 0.1s forwards ease-in;
}

@keyframes noteSettle {

    0% {

        transform: scale(1.0) translateY(0px);

    }
    50% {
        transform: scale(0.98) translateY(1px);
    }
    100% {
        transform: scale(1.0) translateY(-1px);
    }

} */

@media screen and (max-width: 470px) {
    
    .note {
        width: 9em;
        height: 9em;

        /* transition: 0.4s; */
    }

    .noteHotBar button {

        border-radius: 10px;


        margin-top: 6px;
        height: 2em;
        /* height: 100%; */
        padding: 0.0em 0 0.0em 0;
    }

    .noteHotBar {
        height: 17%;
    }

    .note textarea {
        position: relative;
        width: 88%;
        font-family: inherit;
        height: 55%;
        font-size: 0.9em;
    }

    .noteHotBar > * {
        background-color: rgb(88, 226, 173);
        font-size: 0.8em;
        /* min-width: 5em; */
    
        opacity: 0.8;
    
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

}