
.profileModal {
    z-index: 999;
    position: fixed;
    margin: 5em auto auto auto;
    padding: 3em 1em 3em 1em;
    /* top: 0; */
    width: 50%;
    max-height: 300px;

    min-width: 300px;

    background-color: rgb(129, 194, 255);
    border: solid 2px black;
    border-radius: 10px;

    /* box-shadow: 3px 4px 5px black ; */

    overflow-y: auto;

    transform: scale(0.3);
    opacity: 0;

    transition: 0.25s;


    
}

/* styles for the list of selectable users: */
.profileModal p {
    font-size: 1.3em;
}
.profileModal ol {
    /* remove list indent w/ below */
    padding-left: 0;

    /* remove list markers w/ below: */
    list-style-type: none;
}
.profileModal ol li:first-child button {
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid black;
}
.profileModal ol li:last-child button {
    border-radius:  0 0 10px 10px;
    border-top: 1px solid black;
}
.profileModal ol li button:not(li:first-child button):not(li:last-child button) {

    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.profileModal button {
    margin: 0;
    border-radius: 0;
    min-width: 200px;
}

.modalClose {
    position: absolute;
    top: 3px;
    right: 3px; 
    margin: 0;
    width: 50px;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    border-radius: 10px !important;
    border: solid 2px black;

    background-color: rgb(253, 137, 137) !important;

    z-index: 15;

    min-width: 50px !important;
    max-width: 50px !important;


}

.modalClose:hover {
    background-color: rgb(255, 98, 98) !important;
}

.modalClose:active {
    background-color: rgb(255, 137, 137) !important;
}

.modalClose > * {
    pointer-events: none;
    user-select: none;
    font-size: 2em;
    position: relative;
    bottom: 1px;
}
